.container{
    width: 300px;
    height: auto;
    max-height: 600px;
    border-radius: 10px;
    padding: 10px 10px 52px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    @media screen and (min-width: 1024px) {
        width: 500px;
        max-height: 1000px;
    }
}

.img-wrapper{
    width: 100%;
    height: 300px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    @media screen and (min-width: 1024px) {
        height: 500px;
    }
}

.info-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.row{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4px;
    border-bottom: #CACACA solid 0.5px;
}

.label{
    font-weight: 600;
    font-size: 14px;
    width: 50%;
    color: gray;
}

.info{
    width: 50%;
    text-align: right;
}