.outer-container{
    width: 100%;
    padding: 24px 36px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
    gap: 24px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 767px) {
        width: 25%;
    }
}

.list{
    width: 100%;
    overflow-y: auto;
    max-height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

.list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.list::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.list::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}

.title{
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 16px;
}

.form-container{
    width: 70%;
    height: 80vh;
    padding: 42px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    width: 100%;
    text-align: center;
}

.desc{
    width: 100%;
    text-align: center; 
    color: gray;
}

.form-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}